@import "../libs/variables";

#app{
  @include breakpoint(medium){
    .row{
      max-width: rem-calc(770);
    }
  }
  @include breakpoint(large){
    .row{
      max-width: rem-calc(990);
    }
  }
  @include breakpoint(xlarge){
    .row{
      max-width: rem-calc(1380);
    }
  }
}

.first-section{
  position: relative;
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(9,3,2,0) 0%,rgba(9,3,2,0.07) 12%,rgba(9,3,2,0.29) 40%,rgba(9,3,2,0.38) 53%,rgba(9,3,2,0.45) 68%,rgba(9,3,2,0.49) 87%,rgba(9,3,2,0.02) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    content: '';
  }
  .section-desc{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 100%;
    padding: rem-calc(0 15);
    transform: translate(-50%, -40%);
    text-align: center;
    color: $white;
    @include breakpoint(landscape){
      top: 20%;
      transform: translate(-50%, -20%);
    }
    p{
      text-transform: uppercase;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
  .bottom-info{
    position: absolute;
    left: 50%;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: rem-calc(886);
    width: 100%;
    padding: rem-calc(0 15);
    color: $white;
    text-align: center;
    transform: translateX(-50%);
    .item-info{
      width: 50%;
      @include breakpoint(landscape){
        width: 25%;
      };
      &-img{
        width: rem-calc(40);
        height: rem-calc(40);
        margin: 0 auto 5px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    h6{
      text-transform: none;
    }
  }
  @include breakpoint(large){
    min-height: rem-calc(670);
    height: auto;
    .section-desc{
      top: 50%;
      transform: translate(-50%, -50%);
      p{
        font-size: rem-calc(24);
      }
    }
    .bottom-info{
      .item-info{
        width: 25%;
        margin-bottom: rem-calc(35);
        &-img{
          width: rem-calc(88);
          height: rem-calc(88);
          margin-bottom: rem-calc(15);
        }
      }
    }
  }
}

.latest-news{
  padding: rem-calc(25 0);
  .wrap-last-news{
    margin-top: rem-calc(25);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .news{
      max-width: rem-calc(432);
      width: 100%;
      margin-bottom: rem-calc(10);
      animation: opacity 1s ease forwards;
      &-img{
        height: rem-calc(290);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      &-content{
        top: 0;
        position: relative;
        padding-top: rem-calc(30);
        width: 92%;
        background-color: $white;
        transition: top .5s ease-out;
        p{
          color: #616465;
        }
      }
      .read-news{
        position: relative;
        margin-top: rem-calc(15);
        padding-left: rem-calc(25);
        font-family: $museo-sans-cyrl-700;
        font-size: rem-calc(12);
        color: #b2b2b2;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
        transition: all .25s ease;
        &:before{
          position: absolute;
          left: 0;
          top: 50%;
          width: rem-calc(15);
          height: rem-calc(12);
          transform: translateY(-50%);
          background: url('../images/png/icon-read-me.png')no-repeat center / cover;
          content: '';
        }
      }
      &:hover{
        .news-content{
          top: rem-calc(-78);
        }
        .read-news{
          visibility: visible;
          opacity: 1;
          &:hover{
            opacity: .7;
          }
        }
      }
    }
  }
  .more-news{
    position: relative;
    width: 100%;
    margin-top: rem-calc(30);
    &:before{
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: rem-calc(1);
      transform: translateY(-50%);
      background-color: #e3e3e3;
      z-index: -1;
      content: '';
    }
    button{
      margin: 0;
      background-color: $white;
    }
    button.hollow.secondary{
      color: $black;
      background-color: $white;
      &.secondary{
        background-color: $white;
        &:focus{
          background-color: $white;
        }
      }
      &:hover{
        background-color: $white;
      }
    }
  }
  @keyframes opacity {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  @include breakpoint(medium){
    .wrap-last-news{
      justify-content: space-between;
      .news{
        width: calc(50% - 16px);
      }
    }
  }
  @include breakpoint(large){
    padding: rem-calc(100 0);
    .wrap-last-news{
      margin-top: rem-calc(55);
      .news{
        width: calc(33% - 16px);
        margin-bottom: rem-calc(30);
      }
    }
    .more-news{
      margin-top: rem-calc(70);
    }
  }
}

.inside-company{
  .wrap-company-images{
    margin-top: rem-calc(20);
  }
  .grid-item {
    float: left;
    width: 20%;
    padding: rem-calc(2);
  }
  .big{
    width: 40%;
  }
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  @include breakpoint(large){
    .wrap-company-images{
      margin-top: rem-calc(50);
    }
    .grid-item {
      float: left;
      width: 10%;
      padding: rem-calc(2);
    }
    .big{
      width: 20%;
    }
  }
}

.hot-vacancies{
  margin-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  .grid-vacancies{
    display: flex;
    flex-wrap: wrap;
    margin-top: rem-calc(20);
  }
  .item-vacancy{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: rem-calc(120);
    margin-bottom: rem-calc(24);
    padding: rem-calc(0 15);
    overflow: hidden;
    background-color: #f2f2f2;
    border: 2px solid transparent;
    transition: background-color .5s ease, border-color .5s ease;
    &:hover{
      border-color: #cccccc;
      background-color: transparent;
    }
  }
  .item-vacancy-img{
    width: rem-calc(56);
    height: rem-calc(56);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .item-vacancy-content{
    width: calc(100% - 76px);
    *{
      margin-bottom: 0;
      line-height: normal;
    }
  }
  .small-title,
  .desc-vacancy{
    color: #9c9c9c;
  }
  .small-title{
    font-size: rem-calc(14);
  }
  .desc-vacancy{
    font-size: rem-calc(16);
  }
  .more-vacancy{
    position: relative;
    width: 100%;
    margin-top: rem-calc(30);
    &:before{
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: rem-calc(1);
      transform: translateY(-50%);
      background-color: #e3e3e3;
      z-index: -1;
      content: '';
    }
    button{
      margin: 0;
      background-color: $white;
      padding: rem-calc(12 10);
    }
    button.hollow.secondary{
      color: $black;
      background-color: $white;
      &.secondary{
        background-color: $white;
        &:focus{
          background-color: $white;
        }
      }
      &:hover{
        background-color: $white;
      }
    }
  }
  @include breakpoint(large){
    margin-top: rem-calc(90);
    padding-bottom: rem-calc(90);
    .grid-vacancies{
      justify-content: space-between;
      margin-top: rem-calc(40);
    }
    .item-vacancy{
      width: calc(50% - 12px);
      padding: rem-calc(0 50 0 28);
    }
    .item-vacancy-content{
      width: calc(100% - 96px);
    }
    .more-vacancy{
      margin-top: rem-calc(90);
    }
  }
  @include breakpoint(xlarge){
    .item-vacancy{
      padding: rem-calc(0 100 0 28);
    }
  }
}

.newsletter{
  min-height: rem-calc(375);
  padding-top: rem-calc(40);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  text-align: center;
  .form-letter{
    margin-top: rem-calc(20);
  }
  .wrap-input{
    position: relative;
    margin-bottom: rem-calc(10);
    padding-bottom: rem-calc(20);
    .response{
      position: absolute;
      left: 0;
      bottom: 50%;
      width: 100%;
      margin: 0;
      line-height: 1;
      opacity: 0;
      transition: bottom .5s ease-out, opacity .5s ease-out;
      &.error,
      &.complete{
        bottom: 0;
        opacity: 1;
      }
      &.error{
        color: red;
      }
      &.complete{
        color: green;
      }
    }
  }
  @include breakpoint(medium){
    .wrap-input{
      display: flex;
      justify-content: space-between;
      input{
        width: calc(100% - 145px);
      }
      .button{
        max-width: rem-calc(130);
      }
    }
  }
  @include breakpoint(large){
    padding-top: rem-calc(80);
    .form-letter{
      margin-top: rem-calc(40);
    }
  }
}