.main-header{
  [class*='desktop']{
    display: none;
  }
  .mobile-header{
    position: relative;
    height: rem-calc(60);
    background-color: $white;
    z-index: 4;
    .mobile-logo{
      display: table;
      margin: 0 auto;
      svg{
        max-height: rem-calc(60);
        width: 100%;
      }
    }
    .nav-btn{
      position: absolute;
      right: rem-calc(15);
      top: 0;
      width: rem-calc(30);
      height: 100%;
      outline: none;
      span{
        position: relative;
        display: inline-block;
        width: 100%;
        height: rem-calc(2);
        background-color: $blue;
        transition: background-color .3s ease;
        &:before,
        &:after{
          position: absolute;
          left: 0;
          width: 100%;
          height: rem-calc(2);
          background-color: $blue;
          transform-origin: center;
          transition: transform .5s ease, background-color .3s ease;
          content: '';
        }
        &:before{
          top: rem-calc(-8);
        }
        &:after{
          bottom: rem-calc(-8);
        }
      }
      &.active{
        span{
          background-color: transparent;
          &:before,
          &:after{
            top: 0;
            background-color: $orange;
            transform: rotate(-45deg);
          }
          &:after{
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  .wrap-header-content{
    position: absolute;
    left: 0;
    top: -100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: rem-calc(120 0 60);
    background-color: $orange;
    transition: top .5s ease-out;
    z-index: 2;
    &>.row{
      width: 100%;
    }
    &.active{
      top: 0;
    }
  }
  .left-header{
    .main-menu{
      display: flex;
      flex-flow: wrap column;
      min-height: rem-calc(200);
      height: 25vh;
      justify-content: space-around;
      margin: 0;
      a{
        font-size: rem-calc(16);
        color: $white;
        text-transform: uppercase;
      }
    }
  }
  .right-header{
    text-align: center;
    .button {
      margin: rem-calc(0 15 15);
      &.hollow{
        color: $white;
      }
    }
  }
  @include breakpoint(large){
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: rem-calc(66);
    [class*='desktop']{
      display: block;
    }
    [class*='mobile']{
      display: none;
    }
    .wrap-header-content{
      position: relative;
      top: 0;
      height: rem-calc(66);
      background-color: transparent;
      transition: none;
      padding: 0;
    }
    .left-header{
      display: flex;
      align-items: center;
      height: rem-calc(66);
      .desktop-logo{
        margin-right: rem-calc(30);
        transition: opacity .25s ease-out;
        svg{
          max-width: rem-calc(66);
          width: 100%;
        }
        &:hover{
          opacity: .75;
        }
      }
      .main-menu{
        display: inline-block;
        min-height: inherit;
        height: auto;
        li{
          display: inline-block;
        }
        a{
          padding: rem-calc(0 22);
          &:hover{
            color: $orange;
          }
        }
      }
    }
    .right-header{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: rem-calc(66);
      .button{
        margin: rem-calc(0 15 0);
        &.hollow{
          color: $white;
          &:hover{
            color: $orange;
          }
        }
      }
    }
  }
}